/* Estilos del modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-surface-overlay); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que el modal esté por encima de otros elementos */
}

.modal-content-block{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
}


.seleccionado{
    background-color: var(--color-active); /* Color de fondo al seleccionar */
    color: var(--color-white) !important; /* Cambia el color del texto al seleccionar */
    border-color: var(--color-border-active); /* Cambia el borde al seleccionar */
}

.seleccionado p{
    color: var(--color-white) !important;
}

/* Acciones del modal (botones) */

