/* src/components/EditProfileScreen.css */
.edit-profile-container {
    width: 90%;
    margin-inline: auto;
    padding: var(--spacing-md);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-md);
    border: 1px solid var(--color-border-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-surface-primary);
}

.edit-profile-header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}


.edit-profile-header h2 {
    font-size: 24px;
    flex-grow: 1;
    text-align: center;
}

.profile-photo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.current-profile-photo {
    width: 150px;
    height: 150px;
    border-radius: var(--border-radius-full);
    object-fit: cover;
    background-color: var(--color-surface-primary);
    border: 2px solid var(--color-border-primary);
    margin-bottom: 15px;
}

.change-photo-button {
    background-color: var(--color-surface-primary);
    color: var(--color-text-primary);
    padding: var(--spacing-sm) var(--spacing-md);
    border: none;
    border-radius: var(--border-radius-lg);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.change-photo-button:hover {
    background-color: #5a52d4;
}

.edit-profile-actions {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.change-password-button {
    background-color: #f44336;
    /* Un color diferente para el botón de clave */
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: var(--border-radius-lg);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.change-password-button:hover {
    background-color: #d32f2f;
}

/* src/components/ProfileForm.css */
.profile-form {
    background-color: var(--color-surface-tertiary);
    border-radius: var(--border-radius-lg);
    padding: var(--spacing-md);
    box-shadow: var(--shadow-md);
    border: 1px solid var(--color-border-primary);
}

.profile-form input{
    background-color: var(--color-surface-secondary);
    color: var(--color-text-secondary);
    border: 1px solid var(--color-border-secondary);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-pill);
}



.form-buttons {
    display: flex;
    justify-content: space-between;
}

.cancel-button,
.save-button {
    padding: 8px 12px;
    border: none;
    border-radius: var(--border-radius-lg);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cancel-button {
    background-color: #ccc;
    color: #555;
}

.cancel-button:hover {
    background-color: #bbb;
}

.save-button {
    background-color: #6c63ff;
    color: #fff;
}

.save-button:hover {
    background-color: #5a52d4;
}