.confirmar-modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.confirmar-modal-content {
  width: 80%;
  margin-inline: auto;
  background: var(--color-surface-secondary);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius-lg);
  border: 1px solid var(--color-border-secondary);
  box-shadow: var(--shadow-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  animation: fadeIn 0.5s;
}

.confirmar-icon {
  color: #f1c40f;
  font-size: 54px;
  margin-bottom: 8px;
}

.confirmar-mensaje {
  font-size: 1.15rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-text-secondary);
}

.confirmar-botones {
  display: flex;
  gap: 18px;
  margin-top: 10px;
}

.confirmar-btn {
  padding: 8px 22px;
  border: none;
  border-radius: var(--border-radius-md);;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.confirmar-btn-si {
  background: #27ae60;
  color: #fff;
}

.confirmar-btn-si:hover {
  background: #219150;
}

.confirmar-btn-no {
  background: #e74c3c;
  color: #fff;
}

.confirmar-btn-no:hover {
  background: #c0392b;
}