.small-icon-box {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  background: #f5f6fa;
  border-radius: var(--border-radius-md);;
  padding: 12px 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.small-icon-box__icon {
  font-size: 1.5rem;
  color: #4a69bd;
}

.small-icon-box__title {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #222f3e;
}

.small-icon-box__data {
  font-size: 1rem;
  color: #576574;
}

.box-form-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border: solid 1px #dfe6e9;
}