

 .no-payments-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
    height: 50vh;
    font-size: var(--font-size-medium);
}
.no-payments-message {
    margin: 0;
    color: var(--color-text-primary);
    text-align: center;
}